**/node_modules/
**/dist/
**/dist-ssr/
**/coverage/
**/test-report/
**/storybook-static/
*.tsbuildinfo
*.pid
*storybook.log
.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
